---
import { Keystatic } from '../../keystatic.page';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Keystatic Admin</title>
  </head>
  <body>
    <Keystatic client:only="react" />
  </body>
</html>
