---
import { Keystatic as KeystaticAdmin } from "../../keystatic.page";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Keystatic Admin</title>
  </head>
  <body>
    <div id="keystatic-app">
      <KeystaticAdmin client:only="react" />
    </div>
  </body>
</html>
