---
import { makePage } from "@keystatic/astro/ui";
import keystaticConfig from "../../keystatic.config";

const KeystaticPage = makePage(keystaticConfig);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Keystatic Admin</title>
  </head>
  <body>
    <KeystaticPage client:only="react" />
  </body>
</html>
